@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem vindo ao <b>Estoque Web</b></h1>

<p>Essa aplicação permite gerenciar o seu estoque de produtos. Use o menu superior para acessar os
    recursos da aplicação.
</p>